.DS_Store
node_modules

/public/img/*
!/public/img/22824.jpg
!/public/img/22891.jpg
/dist/img/*
!/dist/img/22824.jpg
!/dist/img/22891.jpg

# local env files

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
